<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jijian.file.mapper.FileMapper">
        <insert id="insertFile" parameterType="Integer" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
                INSERT INTO file(create_date, update_date, create_user, update_user, file_new_name, b_id, u_id, file_type, file_url, file_name)
                VALUES ('2019-10-25 15:50:25', '2019-10-25 15:50:30', '1', '1', '123', '', '1', '0', '1', '1');
        </insert>
</mapper>