<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.jijian.shoptype.mapper.shopTypeMapper">
        <select id="selectShopType" resultType="com.jijian.shoptype.POJO.shoptypePOJO">
              select id,shop_type_name AS shopTypeName from tbl_shop_type
        </select>
        <insert id="insertShopType" >
            insert into tbl_shop_type (shop_type_name,shop_type_number) value (#{shopTypeName},#{shopTypeNumber})
        </insert>

    <select id="getAreaList" resultType="com.jijian.shoptype.entity.AreaEntity">
              select *  from comm_area  where parent_code='511600'
        </select>
    </mapper>