<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jijian.goodstype.mapper.goodsTypeMapper">
    <!--用户前端商家认证-->
    <select id="selectGoodsType" resultType="com.jijian.goodstype.POJO.goodsTypePOJO">
        select id, goods_type_name as goodsTypeName from tbl_goods_type
    </select>
    <!-- 用户后台添加商品类型-->
    <insert id="insertGoodsType" parameterType="com.jijian.goodstype.entity.goodsTypeEntity">
        insert into tbl_goods_type (goods_type_name,goods_type_number)value (#{goodsTypeName},#{goodsTypeNumber})
    </insert>
</mapper>