<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

    <mapper namespace="com.jijian.business.mapper.StoreMapper">

    <insert id="addStore" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert tbl_store (name,bussiness_id,deleted) values (#{name},#{bussinessId},#{deleted})
    </insert>

    </mapper>